@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

/* //TODO use tailwind */

body{
  background-color: black;
  font-family: sans-serif;
  color: #354358;
}